
.table {
  padding: 20px;
}
tbody tr ul li {
  font-size: 17px;
}
/* ******************************** */
main .mercaderia article div img {
  width: 90%;
  height: 50%;
  margin-top: 5%;
}
main .mercaderia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .mercaderia article div {
  text-align: center;
}
main .mercaderia article {
  width: 45%;
  border: 1px solid var(--gris);
  margin: 5px;
  margin-bottom: 20px;
}


/*********  main ********************/
.titulo {
  margin-top: 20px;
  margin-bottom: 20px;
}
.item {
  display: inline;
}
.tablaproducto {
  width: 100%;
  margin: 1px;
  margin-bottom: 50px;
}
.imgcarrito{
  width: 50%;
}
main article div h4 {
  font-size: 22px;
}
.tablapago {
  width: 100%;
  margin: 1px;
}

.table1 {
  width: 100%;
  border-collapse: collapse;
}

.table2 {
  width: 100%;
  border-collapse: collapse;
}

.table2 .subtotal {
  font-size: 26px;
}

.table2 .total {
  font-size: 30px;
}

.table2 button {
  font-size: 28px;
  background-color: var(--verde-claro);
  color: white;
  border: none;
  width: 70%;
}

.table2 tr {
  background-color: var(--gris);
  padding: 1px;
  height: 50px;
}

.valor {
  text-align: right;
  color: var(--azul-claro);
}

.descrip {
  color: var(--azul-claro);
}

thead {
  border-bottom: 2px solid;
  text-align: left;
}

.eliminar {
  width: 25px;
  height: 25px;
  border: none;
}
td {
  font-size: 2.9rem;
  padding: 15px;
  align-items: center;
  justify-content: center;
}
td ul li {
  font-size: 22px;
  list-style: none;
}

td img {
  float: left;
  margin: 0px;
  width: 100px;
}

.cantidad input {
  font-size: 20px;
  padding: 2px;
  text-align: center;
}

th {
  color: black;
  font-size: 20px;
}
.cantidad {
  text-align: center;
}
.compu {
  text-align: center;
  display: none;
}
.table2 tr:nth-child(even) {
  background-color: var(--gris-oscuro);
}

.oferta1 {
  font-size: 22px;
  color: var(--blanco);
  background-color: var(--rojo);
  text-align: center;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}
main .mercaderia article div img {
  width: 90%;
  height: 50%;
  margin-top: 5%;
}
main .mercaderia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .mercaderia article div {
  text-align: center;
}
main .mercaderia article {
  width: 45%;
  border: 1px solid var(--gris);
  margin: 5px;
  margin-bottom: 20px;
  box-shadow: 10px 5px 5px var(--gris-oscuro);
}main .mercaderia article div strong{
  font-size: 22px;
  color: var(--azul-claro)
}
main .mercaderia article div p{
  font-size: 16px;
  color: var(--gris)
}
.vermas{
  font-size: 1.4rem;
}
@media (min-width: 769px) {
  .maincarrito {
    font-size: 1.6em;
  }
  .oferta1 {
    font-size: 1.4em;
  }
  .compu {
    display: block;
  }
  .precioCell {
    display: none;
  }
  
  main .mercaderia article {
    width: 30%;
    margin-bottom: 30px;
    display: inline;
  }
  .art-4{
    display: none;
  }
}

@media (min-width: 1024px) {
  .tablaproducto {
    width: 64%;
  }
  .tablapago {
    width: 32%;
  }
  .table-flex {
    display: flex;
    width: 100%;
  }
  main .mercaderia {
    display: flex;
  }
  main .mercaderia article {
    width: 22%;
  }
  .art-4{
    display:inline;
  }


}

/*********  FOOTER *******************/

footer {
  background-color: var(--gris);
}
.footer-banner {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background: linear-gradient(180deg, #f52b0f 0%, #210de9 100%);
}
.footer-banner h2 {
  padding-top: 10px;
  color: white;
}
.footer-banner img {
  margin-top: 20px;
  width: 100%;
}

.secciones div li {
  list-style: none;
}
.secciones-usuario p,
.secciones-usuario nav li,
.secciones-usuario nav li a {
  color: var(--gris-oscuro);
}

.secciones {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.secciones :nth-child(3) {
  order: -2;
}
.secciones :nth-child(2) {
  order: -1;
}
.secciones div {
  width: 49%;
  margin-top: 20px;
}

.copy {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

@media (min-width: 769px) {
  .footer-banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-banner h2 {
    font-size: 1.8rem;
    color: white;
  }
  .footer-banner img {
    margin-top: 20px;
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .secciones {
    flex-wrap: nowrap;
  }
  .secciones-usuario {
    width: 22%;
  }
}
