header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.menu{
    margin-right: 20px;
    border: none;
    background-color: white;
}
.logo-iconos nav ul{
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #F52B0F 0%, #210DE9 100%);
    top: 78px;
    left: -100%;
    text-align: center;
    transition: all .5s;

}
.iconos-search{
    display: flex;
}
.search div{
    position: fixed;
    width: 100%;
    
    background: linear-gradient(180deg, #F52B0F 0%, #210DE9 100%);
    top: 77px;
    right:-100%;
    transition: all .5s;
}
.search div input{
    border:none;
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    padding-left: 10px;
    padding-top:20px ;
    padding-bottom: 20px;
    
}

.logo-iconos nav ul li{
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo-iconos nav ul li a{
    font-size: 30px;
    color: white;
}
.logo-iconos nav ul li:hover{
    background-color: var(--verde-claro) ;
    color:white;

}
.fa-bars{
    font-size: 35px;
}
.iconos{
    display: flex;
}
.usuario{
    display: none;
}
.fa-search{
    padding-right: 20px;
    font-size: 30px;
}
.buscar{
    display: none;
}


.fa-shopping-cart{
   color: black;
   font-size: 30px;
}

.fa-shopping-cart:hover{
    color:brown;
}
.logo{
    width: 110px;
    
}

.logo img{
    width: 100%;
}
.menu-principal{
    display: none;
}
.logo-iconos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}
.datos{
    display: none;
}
.datos span{
    display: none;
}
.iconos-search span{
    display: none;
}
#menu{
    display: none;
}
#menu:checked ~ ul{
    left:0;
}
#search{
    display: none;
}
#search:checked ~ div{
    right: 0;
}

@media (min-width:769px){
    .logo{
        width: 200px;
        margin-right:-30px ;
        
    }
    .menu{
        margin-left: 30px;
        
    }
    .menu .fa-bars{
        font-size: 60px;
    }
    .logo{
        width: 200px;
        margin-right:-65px ;
        
    }
    .iconos{
        margin-right: 30px;
        display: block;
        text-align: center;
    }
    .iconos .usuario{
        display: block;
    }
    .iconos .fa-search{
        padding-right: 20px;
        font-size: 30px;
        margin-top: 0px;
    }
    .usuario a{
        color: black;
    }
    .iconos-search{
        margin-top: 30px;
        margin-left: 30px;
    }
    
    .search div{
        
        top: 137px;
        right:-100%;
        transition: all .5s;
    }
    .logo-iconos nav ul{
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(180deg, #F52B0F 0%, #210DE9 100%);
        top: 137px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    
    }
    
}
@media (min-width:1024px){
    header{
        flex-direction: column;
    }

    .datos{
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: var(--gris);
        padding-left: 10px;
        padding-right: 10px;
    }

    .datos span{
        display: block;
        font-size: 18px;
    }
    .menu{
        display: none;
    }
    .logo-iconos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
    }
    .logo-iconos nav{
        display: none;
    }
    
    
    .logo{
        margin: 0;
    }
    .iconos{
        display: flex;
        margin:0;
        margin-right: 10px;
    }
    .iconos .fa-shopping-cart{
        font-size: 22px;
    }
    .fa-search{
        margin:0;
        font-size: 22px;
        vertical-align: middle;
        background-color: var(--azul-claro);
        color:white;
        padding: 5px;

    }
    .iconos-search{
        margin-top: 0;
        
    }
    .iconos-search a span{
        display: inline-block;
        font-size: 18px;
    }
    
    .datos div span{
        display: inline-block;
        font-size: 18px;
    }
    .ocultar{
        display:none;
    }
    .iconos-search .search label i{
        display: none;
    }
    .usuario .fa-user{
        font-size: 22px;
    }
    .buscar{
        display: block;
        
    }
    .buscar input{
        width: 341px;
        height: 32px;
        font-size: 19px;
    }
    .menu-principal{
        display: flex;
        width: 100%;
        height: 50px;
        background-color: var(--rojo);
        justify-content: space-evenly;
    }
    .menu-principal ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 28px;
        width: 100%;

    }
    .menu-principal ul li a{
        color:white;
    }
    .menu-principal ul li a:hover{
        color:rgba(255, 255, 255,.7)
    }

}