

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.menu{
    margin-right: 20px;
    border: none;
    background-color: white;
}
.logo-iconos nav ul{
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #F52B0F 0%, #210DE9 100%);
    top: 78px;
    left: -100%;
    text-align: center;
    transition: all .5s;

}
.logo-iconos nav ul li{
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo-iconos nav ul li a{
    font-size: 30px;
    color: white;
}
.logo-iconos nav ul li:hover{
    background-color: var(--verde-claro) ;
    color:white;

}


    

.fa-bars{
    font-size: 35px;
}
.iconos{
    display: flex;
}
.usuario{
    display: none;
}
.fa-search{
    padding-right: 20px;
    font-size: 30px;
}
.buscar{
    display: none;
}


.fa-shopping-cart{
   color: black;
   font-size: 30px;
}

.fa-shopping-cart:hover{
    color:brown;
}
.logo{
    width: 110px;
    
}

.logo img{
    width: 100%;
}
.menu-principal{
    display: none;
}
.logo-iconos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}
.datos{
    display: none;
}
span {
    display: none;
}
#menu{
    display: none;
}
#menu:checked ~ ul{
    left:0;
}

@media (min-width:769px){
    .logo{
        width: 200px;
        margin-right:-30px ;
        
    }
    .menu{
        margin-left: 30px;
        
    }
    .menu .fa-bars{
        font-size: 60px;
    }
    .logo{
        width: 200px;
        margin-right:-65px ;
        
    }
    .iconos{
        margin-right: 30px;
        display: block;
        text-align: center;
    }
    .iconos .usuario{
        display: block;
    }
    .iconos .fa-search{
        padding-right: 20px;
        font-size: 30px;
        margin-top: 30px;
    }
    .usuario a{
        color: black;
    }
    
}
@media (min-width:1024px){
    header{
        flex-direction: column;
    }
    .datos{   
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: var(--gris);
        padding-left: 10px;
        padding-right: 10px;
    }
    .menu{
        display: none;
    }
    .logo-iconos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
    }
    .logo-iconos nav{
        display: none;
    }
    
    
    .logo{
        margin: 0;
    }
    .iconos{
        display: flex;
        margin:0;
        margin-right: 10px;
    }
    .iconos .fa-shopping-cart{
        font-size: 22px;
    }
    .fa-search{
        margin:0;
        font-size: 22px;
        vertical-align: middle;
        background-color: var(--azul-claro);
        color:white;
        padding: 5px;

    }
    span{
        display: inline-block;
        font-size: 18px;
    }
    .ocultar{
        display:none;
    }
    .usuario .fa-user{
        font-size: 22px;
    }
    .buscar{
        display: block;
        
    }
    .buscar input{
        width: 341px;
        height: 32px;
        font-size: 19px;
    }
    .menu-principal{
        display: flex;
        width: 100%;
        height: 50px;
        background-color: var(--rojo);
        justify-content: space-evenly;
    }
    .menu-principal ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 28px;
        width: 100%;

    }
    .menu-principal ul li a{
        color:white;
    }
    .menu-principal ul li a:hover{
        color:rgba(255, 255, 255,.7)
    }

}

/*********  FOOTER *******************/

footer{
    background-color: var(--gris);
}
.footer-banner{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background: linear-gradient(180deg, #F52B0F 0%, #210DE9 100%);
}
.footer-banner h2{
    padding-top: 10px;
    color: white;
}
.footer-banner img{
    margin-top: 20px;
    width: 100%;
}

.secciones div li{
    list-style: none;
    

}
.secciones-usuario p,
.secciones-usuario nav li,
.secciones-usuario nav li a{
    color: var(--gris-oscuro);
}

.secciones{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.secciones :nth-child(3){
    order: -2;
}
.secciones :nth-child(2){
    order: -1;
}
.secciones div{
    width:49% ;
    margin-top: 20px;
}

.copy{
    
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

@media (min-width:769px){
    .footer-banner{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .footer-banner h2{
        font-size: 1.8rem;
        color: white;
    }
    .footer-banner img{
        margin-top: 20px;
        width: 80%;
    }
}
    @media (min-width:1024px){
        .secciones{
            flex-wrap: nowrap;
        }
        .secciones-usuario{
            width: 22%;
        }
    }
