
/***main***/
.home{
    margin: 0%;
    padding: 0%;
    
}
.banner{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background: linear-gradient(180deg,#210DE9 0%, #F52B0F 100%);
    margin-bottom: 5px;
    
}
.banner2{
    display: none;
}

.banner img{
    margin-top: 8px;
    width: 93%; 
}

.products{
   display: flex;
   flex-direction: column;
     
}
.padreIm{
    width:100%;
    
}

.padreHombre{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-width: medium;
    background: linear-gradient(
180deg
,#210DE9 0%, #F52B0F 100%);
    
  
   
}
.padreHombre h5{
    width: 47%;
    
    color: white;
    font-size: 23px;
}
.padreImg{
    width:100%;
}
/*.productsMujer{
    width: 100%;
}*/
.padreMujer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-width: medium;
    background: linear-gradient(
180deg
,#210DE9 0%, #F52B0F 100%);

    

}
.padreMujer h5{
    width: 47%;
    
    color: white;
    font-size: 23px;
}
.oferta{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    background: linear-gradient(
        180deg
        ,#210DE9 0%, #F52B0F 100%);
    margin-top: 5px;
 
    

}

.oferta img{
    width:59%;
}

.loMasVendido h1{
    color:white ;
}
.loMasVendido{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    background: linear-gradient(180deg,#e90d0d 0%, #F52B0F 100%);
    margin:3px;
    cursor: pointer
}

.lanzamiento h1{
    color:white ;
}
.lanzamiento{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    background: linear-gradient(180deg,#e90d0d 0%, #F52B0F 100%);
    margin:3px;
    cursor: pointer
}
.zapatillas{
    display:flex ;
    justify-content: space-evenly;
  
    

}
.zapatilla-img1{
    width: 100%;
}
.zapatilla-img{
    border: 1px solid black;
    width: 45%;
    margin-bottom: 5px;

}
.ofertasZapatillaPrecio{
    text-align: center;
}

.ignorar{
    display: none;
} 


.ignorarPC{
    display: none;
}

.CompraPorMarca h1{
    color:white ;
}
.CompraPorMarca{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    background: linear-gradient(180deg,#e90d0d 0%, #F52B0F 100%);
    margin:3px;
    cursor: pointer 
}

.marcas{
    width: 84%;
}
.marcas-img{
    /*border: 1px solid black;*/
    width: 30%;
    margin-bottom: 5px;
    /*display: inline-block*/
}
.contenedorMarcas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.botonVerMas{
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
    
}
.botonVerMas button{
      color: black;
      FONT-WEIGHT: BOLD;
      border: none;
      background-color: white;
}
.marcasImgIgnorarTab{
    display: none ;
}
.marcasImgIgnorarPC{
    display: none;
}


/*tablet*/

@media(min-width:769px){
    .zapatilla-img{
        width: 32%;
    }
    .banner1{
    display: none;
    }
    .padreImg{
    display: block;
    }
    .ignorarPC{
    display: none;
    }
    .banner2{
        display: block;
    }
    .products{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }
    .padreHombre h5 {
        
        color: white;
        font-size: 26px;
        padding-left: 36px;
    }
    .padreHombre{
        width: 49%;
    }
    .padreMujer h5 {
        
        color: white;
        font-size: 26px;
        padding-left: 36px;
    }
    .padreMujer{
        width: 49%;
        justify-content: space-evenly;
    }
    .of{
        width: 100%;
    }
    .oferta img {
        width: 20%;
    }
    .marcas{
        width: 100%;
    }
    .ignorar{
        display: block;
    }
    .loMasVendido h1{
        font-size: 30px;
    }
    .lanzamiento h1{
        font-size: 30px;
    }
    .CompraPorMarca h1{
        font-size: 30px;
    }
    .marcasImgIgnorar{
        display: none;
        }
    .marcasImgIgnorarTab{
        display: block ;
    }
    .marcasImgIgnorarPC{
        display: none;
    }

}
@media (min-width:1024px){
    .zapatilla-img{
        width: 24%;
    }
    

    .padreHombre{
        width: 33%;
        
        flex-direction:column ;
    }
    .padreMujer{
        width: 33%;
        flex-direction:column ;
    }
    .padreMujer h5{
        width: 47%;
        font-size: 36px;
    }
    .oferta{
        margin-top: 0px;
    }
    .oferta img{
        width: 52%;
    }
    .of{
        width: 33%;
       
    }
    .padre-img{
        width: 100%;
        height: 150px;
    }
    .padreHombre h5{
        width: 47%;
        font-size: 36px;
    }
    .oferta{
        width: 100%;
    }
    .ignorarPC{
        display: block;
    }
    .loMasVendido h1{
      font-size:38px;
    }
    .lanzamiento h1{
      font-size: 38px;
    }
    .CompraPorMarca h1{
      font-size: 38px;
    }
    .botonN{
      display: block;
    }
    .marcasImgIgnorar{
        display: none;
    }
    .marcasImgIgnorarTab{
        display: none ;
    }
    .marcasImgIgnorarPC{
        display: block;
    }

}






