.paginfo{
    background-color:var(--rojo-claro);
    color: var(--gris-oscuro);
    font-family: 'Roboto Condensed',sans-serif,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1rem;
    
}
.text-comprar h3{
    margin-bottom: 40px;
    margin-top: 60px;    
}
.text-comprar p{
    margin-bottom: 30px;

}
.tituloinfo{
    margin-top: 40px;
    border-bottom: 1px solid var(--gris-oscuro);
}

