.denegado{
    display:flex;
    background: var(--rojo-claro) ;    
}
.denegado div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    

}
.denegado div article{
    width:  50%;
    height: 50%;
    border:  black 2px solid;
    border-radius: 10px;
    text-align: center;
    color: white;
    background: var(--rojo);
    box-shadow: 10px 15px #000000;
    padding-top: 7%;
}

.art_redirect a button{
   font-size: 26px;
   color: white;
   background: blue;
   margin-top: 40px;
}
.denegado div img{
    margin-left: 5%;
}

@media (max-width: 1024px){
    .denegado div article{
    height: 100px;
    width: 70%;
}
.art_redirect h2{
    display:none
}
.art_redirect a button{
font-size: 18px;
margin-top: 10px;
}
}