.bt_modif{
font-size: 20px;
margin-left: 5px;
box-shadow: green 3px 3px;
background: white;
color: black;
border-color: green;
width: 100px;
height: 38px;
border-radius: 4px;
}
.bt_modif:hover{
    background: green;
    color:white;
    cursor: pointer;
}
.bt_eliminar{
    font-size: 20px;
    margin-left: 5px;
    box-shadow: red 3px 3px;
    background: white;
    color: black;
    border-color: red;
    width: 100px;
    height: 38px;
    border-radius: 4px;
    padding-top: 5px;
    border: solid 2px red;
    }
.bt_eliminar:hover{
        background: red;
        color:white;
        cursor: pointer;
    }
.td_password{
    font-size: 22px;
}
.tuser .btn{
    box-shadow: red 3px 3px;
    margin-bottom: 15px;
   
}
.tuser .td_rol{
    padding: 20px;
}
.editarBtn{
    margin:20px 0;
    display: flex;
}
