@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Roboto&display=swap');

:root{
    --rojo:#f50f39;
    --azul:#210de9;
    --azul-claro:#2a3ef3;
    --gris:#c4c4c4;
    --gris-oscuro:#8F8989;
    --celeste:#99e2f9;
    --verde-claro:#3dc563;
    --violeta:#501996;
    --blanco: #FFFFFF;
    --rojo-claro:#fff2f2;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    /* font-family: 'Abhaya Libre', serif; */
    font-family: 'Roboto', sans-serif;

}
a{
    text-decoration: none;
    
}
.table tr:nth-child(even) {
    background-color: var(--rojo-claro);
}
/* ***************BOTON SCROLL ************* */
.scroll{
    position: fixed;
    z-index: 2;
    bottom: 30px;
    right: 30px;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--rojo-claro);
    color: var(--azul-claro);
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all 0.3s ease-out;
}
.scroll:hover{
    background-color: var(--azul-claro);
    color: var(--rojo-claro);
}

.btnOculto{
    visibility: hidden;
    opacity: 0;
}
.titulos{
    margin-bottom: 15px;
}