
/***main***/
.body{
   
    padding: 0;
    
}
.home{
    margin: 0%;
    padding: 0%;
    
}
.banner{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background: linear-gradient(180deg,#210DE9 0%, #F52B0F 100%);
    margin-bottom: 5px;
    
}
.banner2{
    display: none;
}

.banner img{
    margin-top: 8px;
    width: 90%; 
    margin: 0 auto;
}

.products{
   display: flex;
   flex-direction: column;
   
     
}
.productsMujer{
    text-align: center;
}
.padreImg{
    width:100%;
    
}

.padreHombre{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-width: medium;
    background: linear-gradient(
180deg
,#210DE9 0%, #F52B0F 100%);
    
  
   
}
.padreHombre h5{
    margin: 0 auto;
    width: 47%;
    text-align: center;
    color: white;
    font-size: 23px;
}
.padreImg{
    width:100%;
}

.padreMujer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-width: medium;
    background: linear-gradient(
180deg
,#210DE9 0%, #F52B0F 100%);

    

}
.padreMujer h5{
    width: 47%;
    margin: 0 auto;
    color: white;
    font-size: 23px;
}
.oferta{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    background: linear-gradient(
        180deg
        ,#210DE9 0%, #F52B0F 100%);
    margin-top: 5px;
 
    

}

.oferta img{
    width:59%;
}

.loMasVendido h1{
    color:white ;
}
.loMasVendido{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    background: linear-gradient(180deg,#e90d0d 0%, #F52B0F 100%);
    margin:3px;
    cursor: pointer
}

.lanzamiento h1{
    color:white ;
}
.lanzamiento{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    background: linear-gradient(180deg,#e90d0d 0%, #F52B0F 100%);
    margin:3px;
    cursor: pointer
}
  .zapatillas{
    display:flex ;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.zapatilla-img1{
    width: 100%;
    
}
.zapatilla-img{ 
    border: 1px solid black;
    width: 50%;
    margin-bottom: 5px;
    box-shadow: 15px 5px var(--gris-oscuro);

} 
.ofertasZapatillaPrecio{
    text-align: center;
}

.ignorar{
    display: none;
} 


.ignorarPC{
    display: block;
}

.CompraPorMarca h1{
    color:white ;
}
.CompraPorMarca{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    background: linear-gradient(180deg,#e90d0d 0%, #F52B0F 100%);
    margin:3px;
    cursor: pointer 
}

.marcas{
    width: 90%;
}
.marcas-img{
    width: 30%;
    margin-bottom: 5px;
}
.contenedorMarcas{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 10px;
    margin-bottom: 5px;
}
.botonVerMas{
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
    
}
.botonVerMas button{
      color: black;
      FONT-WEIGHT: BOLD;
      border: none;
      background-color: white;
}

@media(max-width:768px){
.marcas_art{
    width: 25%;
    
}

.marcas_ocultas{
    display: none;
}
}

/*tablet*/

@media(min-width:769px){
    
    .zapatilla-img{
        width: 30%;
    }
    .banner1{
    display: none;
    }
    .padreImg{
    display: block;
    }
    .ignorarPC{
    display: none;
    }
    .banner2{
        display: block;
    }
    .products{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }
    .productsHombre{
        text-align: center;
    }
    .padreHombre h5 {
        margin: 0 auto;
        color: white;
        font-size: 26px;
       
    }
    .padreHombre{
        width: 49%;
    }
    .padreMujer h5 {
        margin: 0 auto;
        color: white;
        font-size: 26px;
        
    }
    .padreMujer{
        width: 49%;
        justify-content: space-evenly;
    }
    .of{
        width: 100%;
        
    }
    .oferta img {
        width: 20%;
    }
    .marcas{
        width: 100%;
    }
    .ignorar{
        display: block;
    }
    .loMasVendido h1{
        font-size: 30px;
    }
    .lanzamiento h1{
        font-size: 30px;
    }
    .CompraPorMarca h1{
        font-size: 30px;
    }
    .marcas_art{
        width: 20%;
    }
    .marcas_art div{
        width: 90%;
    }
    
   }
 
@media (min-width:1024px){
    
    .zapatilla-img{
        width: 23%;
    }
    

    .padreHombre{
        width: 33%;
        
        flex-direction:column ;
    }
    .productsHombre{
        width: 88%;
    }
    .padreMujer{
        width: 33%;
        flex-direction:column ;
    }
    .padreMujer h5{
        width: 47%;
        font-size: 36px;
    }
    .productsMujer{
        width: 88%;
    }
    .oferta{
        margin-top: 0px;
    }
    .oferta img{
        width: 75%;
    }
    .of{
        width: 33%;
       
    }
    .padre-img{
        width: 100%;
        height: 150px;
    }
    .padreHombre h5{
        width: 47%;
        font-size: 36px;
    }
    .oferta{
        width: 100%;
    }
    .ignorarPC{
        display: block;
    }
    .loMasVendido h1{
      font-size:51px;
    }
    .lanzamiento h1{
      font-size: 51px;
    }
    .CompraPorMarca h1{
      font-size: 51px;
    }
    .botonN{
      display: block;
    }
    /* agregando estilo zoom a las marcas */
    .marcas_art{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 10%;
        transition: all 300ms;
        position: relative;
    }
    .marcas_art:hover{
        transform: scale(1.20);
    }
/* ++++++++++++++++++++++++++++++++++++++++ */
}






