main.login{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    background: linear-gradient(rgb(228,228,228),white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    padding: 6rem 1rem;
}
body{
    /* background: linear-gradient(rgb(228,228,228),white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    padding: 6rem 1rem; */
}
.login h1{
   margin-bottom: 1rem; 
   text-align: center;

}
.login .caja h2{
    margin-top: 10px;
    text-align: left;
}
hr{
    background: linear-gradient(rgb(228, 228, 228), white);
        height: 10px;
        margin-bottom: 2rem;
        width: 100%;
}

.login .caja1 form {
    display: flex;
    flex-direction: column;
}
.login .caja1 .email input{
        margin-bottom: 5px;
        margin-top: 5px;
        width: 100%;
        
}
.login .caja1 .password input{
    
        margin-bottom: 5px;
        margin-top: 5px;
        width: 100%;
}
.login .caja1 article{
    text-align: right;
    display: block;
}

 .login .caja1 .bttn{
    background-color: red;
    color: white;
    align-content: center;
    padding: 5px 10px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 30px;
}
.login .caja2 h3{
    margin-top: 10px;
    margin-bottom: 5px;
}
.login .caja2 .form{
    background-color: rgb(25, 38, 155);
    color: white;
    align-content: center;
    padding: 5px 10px;
    border-radius: 10px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
}
@media(min-width:769px){
    .caja{
        display: flex;
        
    }
    .caja1{
     flex-grow: 1;
     width: 50%;
    }
    .caja2{
        flex-grow: 1;
        width: 50%;
    }

    
.login .caja1 .email input{
           display: block;
            margin-bottom: 8px;
            margin-top: 8px;
            width: 80%;
            }
    
.login .caja1 .password input{
        display: block;
        margin-bottom: 8px;
        margin-top: 8px;
        width: 80%;
}
 .login .caja1 article{
     display: inline-block;
    text-align: center;

}
 .login .caja1 .bttn{
    background-color: red;
    color: white;
    align-content: center;
    padding: 8px;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 15px;
    margin-top: 10px;
}
.login .caja2 h3{
    margin-top: 10px;
    margin-bottom: 5px;
}
.login .caja2 .form{
    background-color: rgb(25, 38, 155);
    color: white;
    align-content: center;
    padding: 8px;
    border-radius: 10px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 5px;
}
}