html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bodyUser{
    color: #404040;/** cambia de color los iconos*/
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
    background-color: blanchedalmond;
}


.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#B873FF, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image:linear-gradient(45deg, #BC3CFF, #317FFF);
    border-radius: 0 0 20px 20px;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer

    
}
.seccion-perfil-usuario .perfil-usuario-portada .boton-portada .boton-portada2{
    position: absolute;  
    right: 0.1rem;
    top: 0rem;
    border: 0;
    border-radius: 8px;
    padding: 15px ;
    cursor: pointer;
    width: 100%;
    opacity: 0;
}


.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
    
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    
    

}
.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar div{
    text-align: center;
    margin-top: 10px;
    cursor: pointer

}
.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar .boton-avatar2{
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0; 
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.0;
   

}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
    
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
    
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
    
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    
    
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
    
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
   
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

/* adactacion a dispositivos */
@media (max-width: 769px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }
   
}

.borderojo{
    background-color:red;

}

.bordeverde{
    background-color: rgb(110, 233, 110);
}

.bttn-invalid{
    background-color: #848484;
}

/*.perfil-usuario-body .perfil-usuario-bio .nombre input{
    font-size: 100px;
    display:block;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 100%;
    border: black 1px solid;
}*/

.erfil-usuario-body .perfil-usuario-bio .nombre {
    color:red;

}
.titulo .errorN{
    color:rgb(238, 14, 14);
    font-size: 20px;
    margin-top: 2px;
    font-family: center;
    font-weight: bold;
}

.titulo .errorA{
    color:rgb(243, 21, 21);
    font-size: 20px;
    margin-top: 2px;
    font-family: center;
    font-weight: bold;
   
}

.perfil-usuario-footer .errorE{
    color:rgb(243, 21, 21);
    font-size: 20px;
    margin-top: 2px;
    font-family: center;
    font-weight: bold;
    text-align: center;

    
    
}

.perfil-usuario-footer .errorP{
    color:rgb(243, 21, 21);
    font-size: 20px;
    margin-top: 2px;
    font-family: center;
    font-weight: bold;
    text-align: center;
}



.perfil-usuario-body .perfil-usuario-bio .titulo{
    display: flex;
    justify-content: space-around;
    margin: center 10px;
}

.nombreseparar{
    cursor: pointer;
    margin-left: 77px;
}

.apellidoseparar{
    cursor: pointer;
    margin-right: 84px;
}
.contraseñaseparar{
    cursor: pointer;
    margin-left: 63px;
    position: relative;

    
}

.emailseparar{
    cursor: pointer;
    margin-left: 110px;
}

.iconEye{
    position: absolute;
     right:0px;
    top:2% ;
    transform:translateY(-50);
    cursor:pointer;
    transition: .1s ease all ;
    
    
    
}
.iconEye:hover{
    color: rgb(18, 18, 19);
       
}

/*.image-fondo {
    background-image: url("../img/users/zapaprueba.jps");
}*/