/*registro*********/
main.register {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgb(228, 228, 228),white);  
}
div.register1 {
    margin: 0 auto;
    width: 350px;
    height: 100%;
    padding: 4rem 1rem;
}


.register h1{
    margin-bottom: 1rem;
    text-align: center;
}
.register hr{
    background: linear-gradient(rgb(228, 228, 228), white);
    height: 10px;
    margin-bottom: 2rem;
    width: 100%;
}
.register .form {
    display:flex;
    flex-direction: column;
    align-content: center;
}


.register .nombre input{
    font-size: 20px;
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 100%;
    border: black 1px solid;
    
}
.register .apellido input{
    font-size: 20px;
    display:block;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 100%;
    border: black 1px solid;
}
.register .email input{
    font-size: 20px;
    display:block;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 100%;
    border: black 1px solid;
}
.register .select-img input{
    font-size: 18px;
    display:block;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 100%;
}    
.register .password input{
    font-size: 20px;
    display:block;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 100%;
border: black 1px solid;
}

.register form.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
    border-radius: 10px;
    
}

.register .obligatorio{
color: red;
margin-top: 5px;
margin-bottom: 5px;
}

.register form.input.check{
    display: flex;
}

.register .terminos{
    
    margin-top: 20px;
    text-align: justify;
 text-decoration:lightgrey ;
}
.register .terminos label a{
    color: darkblue;
}

.register .btn{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.register .btn button{
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
    background-color:red;
    color: white;
    box-shadow: black 3px 3px;
}

.register .btton{
     margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    
}
.register .btton button{
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
    background-color: blue;
    color: white;
    box-shadow:black 3px 3px;
}
.name_label{
    font-size: 20px;
}

/*reg******/
