@import url(/stylesheets/carritoDeCompras.css);
@import url(/stylesheets/detalleProducto.css);
@import url(/stylesheets/home.css);
@import url(/stylesheets/registro.css);
@import url(/stylesheets/general.css);
@import url(/stylesheets/login.css);
@import url(/stylesheets/header.css);
@import url(/stylesheets/footer.css);
@import url(/stylesheets/cssCompra.css);
@import url(/stylesheets/cssdefensaAlConsumidor);
@import url(/stylesheets/cssenvios);
@import url(/stylesheets/cssgarantias.css);
@import url(/stylesheets/cssprivacidad.css);
@import url(/stylesheets/error404.css);
@import url(/stylesheets/editarEliminar.css);
@import url(/stylesheets/perfiluser.css);
@import url(/stylesheets/denegado.css);
@import url(/stylesheets/cssNuestrasSucursales.css);
@import url(/stylesheets/edituser.css);