</section>
<section class="contenedorMarcas">
<article class="marcasImgIgnorar ">
    <div>
        <img class="marcas" src="/images/wireframe/LogosMasrcas/brand-adidas.png" alt="logodemarcas">
    </div>  
</article>
<article class="marcasImgIgnorar">
    <div>
        <img class="marcas" src="/images/wireframe/LogosMasrcas/nike_sport.png" alt="logodemarcas">
    </div>  
</article>
<article class="marcasImgIgnorar">
    <div>
        <img class="marcas" src="/images/wireframe/LogosMasrcas/puma.png" alt="logodemarcas">
    </div>  
</article>
<!--marcasTab-->
<article class="marcasImgIgnorarTab">
    <div>
        <img class="marcas" src="/images/wireframe/LogosMasrcas/Slice 1.png" alt="logodemarcas">
    </div>  
</article>
<!--marcasPC--> 
<article class="marcasImgIgnorarPC">
    <div>
        <img class="marcas" src="/images/wireframe/LogosMasrcas/Slice 1.png" alt="logodemarcas">
    </div>  
</article>

<article class="botonVerMas">
    <button>Ver más ></button>
</article>
</section>
