<section class="products">
           
<%imagenesPublicidad.map(e=>{%>
  <article class="padreHombre">
    <div class="productsHombre">
      <img class="padreImg" src="/images/wireframe/<%=e.img%> " alt="hombre"/>

    </div> 
    <h5><%=e.title%> </h5>
</article>
<%})%> 

 
  
</section>