<footer>
    <div class="footer-banner">
        <h2>TODAS LAS TARJETAS BANCARIAS</h2>
        <img src="/images/footer.svg" alt="banner tarjetas">
    </div>
    <section class="secciones">
        <div class="secciones-usuario">
            <h4>Nosotros</h4>
            <nav>
                <li><a href="#"> > Acerca de Nosotros</a></li>
                <li><a href="#"> > Nuestras Sucursales</a></li>
            </nav>
            <h4>Clientes</h4>
            <nav>
                <li><a href="/register"> > Registrate</a></li>
                <li><a href="/login"> > Mi Cuenta</a></li>
            </nav>
        </div>
        <div class="secciones-usuario">
            <h4>Contacto</h4>
                <nav>
                    <li><i class="fas fa-phone"></i> 0800 222 MUNDO (68636)</li>
                    
                    <li><i class="fab fa-whatsapp"></i> +54123456789</li>
                </nav>
            
            <h4>CENTRO DE ATENCION TELEFONICA</h4>
            
                <p>lunes a Viernes de 8:30 a 18:30hs - Sabados de 9 a 17:30hs</p>
        </div>
            <div class="secciones-usuario">
                <h4>INFORMACION</h4>
                <nav>
                <li><a href="/informacion/comprar"> > Como comprar</a></li>
                <li><a href="/informacion/envio"> > Costos y formas de envios</a></li>
                <li><a href="/informacion/garantias"> > Garantias</a></li>
                <li><a href="/informacion/politicaDeCambios"> > Politicas de Cambios</a></li>
                <li><a href="/informacion/privacidad"> > Politicas de privacidad</a></li>
                <li><a href="/informacion/defensaAlConsumidor"> > Defensa al consumidor</a></li>
                </nav>
            </div>
            <div class="secciones-usuario">
                    <h4>COMPRA 100% SEGURA </h4>
                    <p>Nuestro sitio posee toda la seguridad para tu compra</p>
            </div>
    </section>
    <section class="copy">
        
        <p> ©️ Copyright 2021 El mundo del Calzado SRL </p>
    </section>
</footer>
