<header>
    <div class="datos">
        <div>
            <span><i class="far fa-envelope"></i> CONTACTENOS</span>
            <span><i class="fas fa-phone"></i> 0800 222 MUNDO(68636)</span>

        </div>
        <div>
            <span><i class="fab fa-whatsapp"></i> +54123456789</span>
            <span><i class="fas fa-map-marker-alt"></i> SUCURSALES</span>
        </div>
    </div>
    <div class="logo-iconos">
        <nav>
            <input type="checkbox" id="menu">
            <label for="menu">
                <i class="fas fa-bars"></i>
            </label>
            <ul>

                <li><a href="/admin">Administrador</a></li>
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/register">Register</a></li>
                <li><a href="/products/hombre">Hombre</a></li>
                <li><a href="/products/mujer">Mujer</a></li>
                <li><a href="/products/temporada">temporada</a></li>
                <li><a href="/products/outlet">Outlet</a></li>
            </ul>
        </nav>
        
            <div class="logo">
                <a href="/"> <img src="/images/logo.png" alt="logo"></a> 
            </div>
                    
            <form action="/products/general" class="buscar" method="GET">
                <input  type="text" name="keywords" placeholder="¿Que estas buscando? " > <i class="fas fa-search"> </i>
            </form>
        <div class="iconos">
            <% if(locals.userAdmin){ %> 
            <div class="administrador">
               <a href="/admin"><h3>ADMIN</h3></a>
               <a href="/admin/cerrar">Cerrar Session</a>
            </div>
            <% } else if(locals.user){%> 
                <div class="administrador">
                    <a href="/user/perfiluser"><h3>Hola: <%= locals.user %></h3></a>
                    <a href="/admin/cerrar">Cerrar Session</a>
                 </div>
                
            <% } else {%>     
            <div class="usuario">
                <i class="fas fa-user"></i>
                <a href="/user/login">Ingresa</a>
                <a href="/user/register">o Registrate</a>
            </div>
            <%}%>
            <div class="iconos-search">
                <div class="search">
                    <input type="checkbox" id="search">
                    <label for="search">
                        <i class="fas fa-search ocultar"></i>
                    </label>
                    <div class="busqueda-input">
                        <input type="search" name="keywords" placeholder="ingresa tu busqueda">
                    </div>
                </div>
                <a href="/products/carritoDeCompras" class="fas fa-shopping-cart "><span>Mi Compra</span></a>
            </div>
        </div>

    </div>
    <nav class="menu-principal">
        <ul>
            <li><a href="/products/hombre">HOMBRES</a></li>
            <li><a href="/products/mujer">MUJER</a></li>
            <li><a href="/products/temporada">TEMPORADA</a></li>
            <li><a href="/products/outlet">OUTLET</a></li>
            <li><a href="/products">PRODUCTOS</a></li>
        </ul>
        
    </nav>

</header>