<header>
    <div class="datos">
        <div>
            <span><i class="far fa-envelope"></i> CONTACTENOS</span>
            <span><i class="fas fa-phone"></i> 0800 222 MUNDO(68636)</span>

        </div>
        <div>
            <span><i class="fab fa-whatsapp"></i> +54123456789</span>
            <span><i class="fas fa-map-marker-alt"></i> SUCURSALES</span>
        </div>
    </div>
    <div class="logo-iconos">
        <nav>
            <input type="checkbox" id="menu">
            <label for="menu">
                <i class="fas fa-bars"></i>
            </label>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Mujer</a></li>
                <li><a href="#">temporada</a></li>
                <li><a href="#">Outlet</a></li>
            </ul>
        </nav>

            <div class="logo">
                <a href="/"><img src="/images/logo.png" alt="logo"></a>
            </div>
            <form action="" class="buscar">
                <input  type="text" placeholder="¿Que estas buscando? " > <i class="fas fa-search"> </i>
            </form>
        <div class="iconos">
            <div class="usuario">
                <i class="fas fa-user"></i>
                <a href="/login">Ingresa</a>
                <a href="/register">o Registrate</a>
            </div>
            <div class="iconos-search">
                <div class="search">
                    <input type="checkbox" id="search">
                    <label for="search">
                        <i class="fas fa-search ocultar"></i>
                    </label>
                    <div class="busqueda-input">
                        <input type="search" placeholder="ingresa tu busqueda">
                    </div>
                </div>
                <a href="/carritoDeCompras" class="fas fa-shopping-cart "><span>Mi Compra</span></a>
            </div>
        </div>

    </div>
    <nav class="menu-principal">
        <ul>
            <li><a href="#">HOMBRES</a></li>
            <li><a href="#">MUJER</a></li>
            <li><a href="#">TEMPORADA</a></li>
            <li><a href="#">OUTLET</a></li>
        </ul>
    </nav>

</header>