<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Detalle de Producto</title>
</head>

<body>
    <main>
        <!-- seccion ruta donde describe la posicion del cliente -->
        <section class="rutas">
            <a href="#">INICIO > </a>
            <strong>Nombre del Producto</strong>
        </section>

        <!-- baner -->
        <section class="banner">
            <img src="/imagenes/detalleProducto/bannerdetalleprod.png" alt="banner deportivo">
        </section>

        <!--articulo principal  -->
        <section class="articulo">
            <article class="articulo-zapatilla">
                <div class="articulo-img">
                    <img src="/imagenes/detalleProducto/zpatilla.jpg" alt="zapatilla para correr">
                </div>
                <div class="articulo-general">
                    <div class="articulo-modelos">
                    <img src="/imagenes/detalleProducto/zapatilla-rosa.jpg" alt="zapatilla rosada">
                    </div>
                    <div class="articulo-modelos">
                    <img src="/imagenes/detalleProducto/zapatilla-azul.jpg" alt="zapatilla azul">
                    </div>
                    <div class="articulo-modelos">
                    <img src="/imagenes/detalleProducto/zapatilla-negro-marron.jpg"
                        alt="zapatilla negro con colores marrones">
                    </div>
                    <div class="articulo-modelos">
                    <img src="/imagenes/detalleProducto/zapatilla-rosa.jpg" alt="zapatilla rosada">
                </div>
            </div>
            </article>

            <aside class="articulo-descripcion">
                <div class="articulo-descripcion_datos">
                    <h3>Zapatillas Adiddas</h3>
                    <p>NEGRO/ROSA/AZUL</p>
                    <h5>$8000</h5>
                </div>
                <div class="articulo-descripcion_talles">
                    <h3>TALLES</h3>
                    <nav class="articulo-talles">
                        <ol>
                            <li>34</li>
                            <li>35</li>
                            <li>36</li>
                            <li>37</li>
                            <li>38</li>
                            <li>39</li>
                            <li>40</li>
                        </ol>
                    </nav>
                </div>
                <div class="articulo-descripcion_accion">
                    <button type="submit">AGREGAR Al CARRITO</button>
                </div>
            </aside>

        </section>

        <!-- detalle del producto -->
        <section class="detalle-producto">
            <h5>Detalles del Producto</h5>
            <h4>Sali a disfrutar de lo que te gusta</h4>
            <p>Con estas Zapatillas Adiddas en tus pies podrás correr en el parque y luego tomar un café con amigos con
                total comodidad.
                Su exterior de malla ofrece transpirabilidad que mantiene tus pies frescos de la mañana a la noche. La
                suela tipo caucho te brinda la estabilidad necesaria para enfrentarte a todo lo que te depare el día.
            </p>
        </section>

        <!-- ofertas ofrecidas al cliente -->
        <section class="ofertas">
            <h5>Tambien puede interesarte estas ofertas</h5>
            <section class="ofertas-general">
                <article class="ofertas-zapatillas">

                    <div class="ofertas-zapatilla_img">
                    <img src="/imagenes/detalleProducto/topper.png" alt="zapatilla topper">
                    </div>
                    
                    <div class="ofertas-zapatilla-precio">
                    <h5>$7.500</h5>
                    <p>Zapatillas</p>
                    <p>Topper</p>
                    <p>String Pace Plus</p>
                    </div>

                </article>
                <article class="ofertas-zapatillas">

                    <div class="ofertas-zapatilla_img">
                    <img src="/imagenes/detalleProducto/nike.png" alt="zapatilla nike">
                    </div>

                    <div class="ofertas-zapatilla-precio">
                    <h5>$10.000</h5>
                    <p>Zapatillas</p>
                    <p>Nike</p>
                    <p>Air Max Excee</p>
                    </div>

                </article>
                <article class="ofertas-zapatillas">

                    <div class="ofertas-zapatilla_img">
                    <img src="/imagenes/detalleProducto/fila.png" alt="zapatilla Fila">
                    </div>

                    <div class="ofertas-zapatilla-precio">
                    <h5>$8.938</h5>
                    <p>Zapatillas</p>
                    <p>Fila</p>
                    <p>Fore Jogger</p>
                    </div>

                </article>
                <article class="ofertas-zapatillas oculto">

                    <div class="ofertas-zapatilla_img">
                    <img src="/imagenes/detalleProducto/botinNike.png" alt="Botines Nike Verdes claro">
                    </div>

                    <div class="ofertas-zapatilla-precio">
                    <h5>$15.000</h5>
                    <p>Botines Nike</p>
                    <p>Phantom Vision</p>
                    <p>Elite DfFg</p>
                    </div>

                </article>
            </section>

        </section>
    </main>
</body>

</html>