<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/61253f2a8f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    
    <footer>
        <div class="footer-banner">
            <h2>TODAS LAS TARJETAS BANCARIAS</h2>
            <img src="/imagenes/footer.svg" alt="banner tarjetas">
        </div>
        <section class="secciones">
            <div class="secciones-usuario">
                <h4>Nosotros</h4>
                <nav>
                    <li><a href="#"> > Acerca de Nosotros</a></li>
                    <li><a href="#"> > Nuestras Sucursales</a></li>
                </nav>
                <h4>Clientes</h4>
                <nav>
                    <li><a href="/register"> > Registrate</a></li>
                    <li><a href="/login"> > Mi Cuenta</a></li>
                </nav>
            </div>
            <div class="secciones-usuario">
                <h4>Contacto</h4>
                    <nav>
                        <li><i class="fas fa-phone"></i> 0800 222 MUNDO (68636)</li>
                        
                        <li><i class="fab fa-whatsapp"></i> +54123456789</li>
                    </nav>
                
                <h4>CENTRO DE ATENCION TELEFONICA</h4>
                
                    <p>lunes a Viernes de 8:30 a 18:30hs - Sabados de 9 a 17:30hs</p>
            </div>
                <div class="secciones-usuario">
                    <h4>INFORMACION</h4>
                    <nav>
                        <li><a href="/comprar"> > Como comprar</a></li>
                    <li><a href="/envios"> > Costos y formas de envios</a></li>
                    <li><a href="/garantias"> > Garantias</a></li>
                    <li><a href="#"> > Politicas de Cambios</a></li>
                    <li><a href="/privacidad"> > Politicas de privacidad</a></li>
                    <li><a href="/defensaAlConsumidor"> > Defensa al consumidor</a></li>
                    </nav>
                </div>
                <div class="secciones-usuario">
                        <h4>COMPRA 100% SEGURA </h4>
                        <p>Nuestro sitio posee toda la seguridad para tu compra</p>
                </div>
        </section>
        <section class="copy">
            
            <p> ©️ Copyright 2021 El mundo del Calzado SRL </p>
        </section>
    </footer>
</body>
</html>
