<div class="email">
    <label for="email">Tu Email</label>
    <input type="email" name="tu email" id="tu email" placeholder="tu email">
</div>

<div class="password">
    <label for="pasword">Tu Contraseña</label>
    <input type="password" name="tu contraseña" id="password" placeholder="tu contraseña">
</div>