<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%-include('./partials/head') %> 
<!-- head -->
<body>
    <!-- navegacion -->
        <%-include('./partials/header')  %>
    <!-- navegacion -->

      <!-- TABLAS -->

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precios</th>
            <th scope="col">Genero</th>
            <th scope="col">Marca</th>
            <th scope="col">Catergoria</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="1">Larry the Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
        <a href="/admin/create" class="btn btn-outline-primary" role="button" aria-disabled="true">Crear</a>
        <a href="/admin/edit" class="btn btn-outline-danger" role="button" aria-disabled="true">Editar</a>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>