<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%-include('./partials/head') %>
	<!-- head -->

	<!-- navegacion -->
	<%-include('./partials/header') %>
	<!-- navegacion -->
	<body class="crearForm">
	<main class="adminForm">
				<div class="">
					<div class="">
						<div class="">
							<h2 class="">Formulario de creación de productos</h2>
						</div>
					</div>
					<div class="contenedor-form">
						<form action="/admin/create" method="POST" enctype="multipart/form-data">
							<div class="contenedorLabel">

								<div class="labelForm">
									<label for="title" class="">Nombre del producto:</label>
									<input type="text" id="title" name="title" placeholder="Ej: Zapatillas Reebok"
										class="form-input">
								</div>
								<div class="labelForm">
									<label for="price" class="">Precio del producto:</label>
									<input type="text" id="price" name="price" placeholder="Ej: 5678"
										class="form-input">
								</div>
								<section class="seccion">
								<div class="labelForm width">
									<label for="colores" class="">colores:</label>
									<input type="text" id="colores" name="colors" placeholder="Color primario"
										class="form-input1">
										<input type="text" id="colores" name="colors" placeholder="Color secundario"
										class="form-input1">
										<input type="text" id="colores" name="colors" placeholder="Color terciario"
										class="form-input1">
								</div>
								<div class="labelForm width">
									<label for="genero" class="l">Detalles:</label>
									<input type="text" id="detalle" name="detalles" placeholder="Ingrese su detalle"
										class="form-input1">
									<input type="text" id="detalle" name="detalles" placeholder="Ingrese su detalle"
										class="form-input1">
									<input type="text" id="detalle" name="detalles" placeholder="Ingrese su detalle"
										class="form-input1">
									<input type="text" id="detalle" name="detalles" placeholder="Ingrese su detalle"
										class="form-input1">
								</div>
							</section>
								
								<div class="selection">
									<div>
										<label for="genero" class="form-label">Genero</label>
										<select name="genero" id="genero" class="form-input">
											<option value="" hidden selected>Elegí</option>
											<option value="hombre">Hombre</option>
											<option value="mujer">Mujer</option>
										</select>
									</div>
									<div>
									<label for="temporada" class="form-label">Temporada</label>
									<select name="temporada" id="temporada" class="form-input">
										<option value="" hidden selected>Elegí</option>
										<option value="true">True</option>
										<option value="false">False</option>
									</select>
							    </div>
								<div>
									<label for="category" class="form-label">Outlet</label>
									<select name="outlet" id="outlet" class="form-input">
										<option value="" hidden selected>Elegí</option>
										<option value="true">True</option>
										<option value="false">False</option>
									</select>
								</div>
								<div>
									<label for="marca" class="form-label">Marca</label>
									<select name="marca" id="marca" class="form-input">
										<option value="" hidden selected>Marca</option>
										<option value="adiddas">Adiddas</option>
										<option value="nike">Nike</option>
										<option value="asics">Asics</option>
										<option value="fila">Fila</option>
										<option value="topper">Topper</option>
										<option value="converse">Converse</option>
										<option value="newbalance">New Balance</option>
										<option value="puma">Puma</option>
										<option value="adidasoriginal">Adidas Original</option>
									</select>
							    </div>
								</div>
								<div>
									<label for="talles">Talles:</label>
									<div class="container-talles">
										<div>
											<input type="checkbox" name="talles" id="35" value="35">
											<label for="35">35</label>
										</div>
										<div>
											<input type="checkbox" name="talles" id="36" value="36">
											<label for="36">36</label>
										</div>
										<div>
											<input type="checkbox" name="talles" id="37" value="37">
											<label for="37">37</label>
										</div>
										<div>
											<input type="checkbox" name="talles" id="38" value="38" >
											<label for="38">38</label>
										</div>
										<div>
											<input type="checkbox" name="talles" id="39" value="39">
											<label for="39">39</label>
										</div>
										<div>
											<input type="checkbox" name="talles" id="40" value="40">
											<label for="40">40</label>
										</div>
										<div>
											<input type="checkbox" name="talles" id="41" value="41">
											<label for="41">41</label>
										</div>
										<div>
											<input type="checkbox" name="talles" id="42" value="42">
											<label for="42">42</label>
										</div>
										<div>
											<input type="checkbox" name="talles" id="43" value="43">
											<label for="43">43</label>
										</div>
										<div>
											<input type="checkbox" name="talles" id="44" value="44">
											<label for="44">44</label>
										</div>
								
								</div>
							</div>
								<div class="labelForm">
									<label for="file" class="">ingrese su imagen principal:</label>
									<input type="file" id="file" name="imgp"class="form-input">
								</div>
								<div class="labelForm">
									<label for="file" class="">ingrese sus imagenes secundarias:</label>
									<input type="file" id="file" name="img"class="form-input">
								</div>
								<div class="labelForm">
									<label for="description" class="form-label">Descripción:</label>
									<textarea name="description" id="description" class="form-input"></textarea>
								</div>
							
								<div class="">
									<button class="btn btn-outline-success"type="submit">Guardar Producto</button>
								</div>
							</div>
						</form>
					</div>

				</div>



				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
					integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
					crossorigin="anonymous"></script>
			</main>
	</body>

</html>