<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%-include('./partials/head') %> 
<!-- head -->
<body class="crearForm">
    <!-- navegacion -->
        <%-include('./partials/header')  %>
    <!-- navegacion -->
    <main class="adminForm">
      <div >
        <div >
          <div >
            <h2 class="">Estás editando: <i>PRODUCT NAME</i></h2>
          </div>
        </div>
        <div class="contenedor-form">
          <form action="" method="">
            <div class="contenedorLabel">

              <div class="labelForm">
                <label for="name" class="">Nombre del producto:</label>
                <input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok"
                  class="form-input">
              </div>
              <div class="labelForm">
                <label for="price" class="">Precio del producto:</label>
                <input type="text" id="price" name="price" placeholder="Ej: 5678"
                  class="form-input">
              </div>
              <div class="labelForm">
                <label for="discount" class="">Marca:</label>
                <input type="text" id="discount" name="discount" placeholder="Marca del producto"
                  class="form-input">
              </div>
              <div class="labelForm">
                <label for="discount" class="l">Genero:</label>
                <input type="text" id="discount" name="discount" placeholder="Ingrese el Genero"
                  class="form-input">
              </div>
              
              <div class="selection">
                <div>
                <label for="category" class="form-label">Temporada</label>
                <select name="temporada" id="temporada" class="form-input">
                  <option value="">Elegí</option>
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
                </div>
              <div>
                <label for="category" class="form-label">Outlet</label>
                <select name="outlet" id="outlet" class="form-input">
                  <option value="">Elegí</option>
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
              </div>
              </div>
              <div class="labelForm">
                <label for="description" class="form-label">Descripción:</label>
                <textarea name="description" id="description" class="form-input"></textarea>
              </div>

            <div class="col-12">
              <a href="/admin" class="btn btn-outline-success" tabindex="-1" role="button" aria-disabled="true">Editar Producto</a>
            </div>
          </div>
        </form>
      </div>
     

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</main>
    </body>
</html>