<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('./partials/head') %>
    <!-- HEAD -->

    <body>
        <!-- HEADER -->
        <%- include('./partials/header') %>
            <!-- HEADER -->
        <main class="errorMain">
            <div class="contenedor">
                <button class="iraInicio">Ir a inicio</button>
            </div>
        </main>


            <!-- FOOTER -->
            <%- include('./partials/footer') %>
                <!-- FOOTER -->

    </body>

</html>
