<!DOCTYPE html>
<html lang="en">
  
     <!-- HEAD -->
<%- include('../partials/head') %> 
<!-- HEAD -->

  <body>

    <!-- HEADER -->
    <%- include('../partials/header') %> 
    <!-- HEADER -->

    <main class='paginfo'>
      <div class= "marcos">
        <div class="">
            <ul class="items">
                            <li class="item Inicio">
                                    <a href="/" title="Inicio">
                            Inicio > </a>
                                </li>
                            <li class="item compra">
                                   <strong class="compra">Acerca de Nosotros</strong> 
                                </li>
                    </ul>
        </div>
        <div class="tituloinfo">
          <h1>ACERCA DE NOSOTROS</h1>
        </div>
        <div class="garantias1">
          <h3>Somos una empresa 100% nacional, con una gran trayectoria en la comercialización de calzado e indumentaria deportiva.
            Hoy, sumamos más de 40 empleados, 4 sucursales y a través del e-commerce llegamos a satisfacer las necesidades de nuestros clientes en todo el país.
            Así, lideramos el mercado de artículos deportivos, ofreciendo las mejores marcas, el más amplio stock y atención personalizada en nuestros locales.
            Nuestros productos son un clásico que acompaña día a día la pasión de los argentinos.</h3>
            <br>
            <div class="local">
              <img src="/images/LOCAL1.jpg" alt="">
              <img src="/images/LOCAL2.jpg" alt="">
              <img src="/images/LOCAL 3.jpg" alt=""> 
            </div>
            <br>
            
           <h2>GRACIAS POR SU VISITA!!!</h2>
           </div>
          </div>

      <!-- FOOTER -->
    <%- include('../partials/footer') %> 
    <!-- FOOTER -->
    
    </body>
  </html>
  