<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/head') %> 
<!-- HEAD -->

<body >
    
    <!-- HEADER -->
    <%- include('../partials/header') %> 
    <!-- HEADER -->

    <main class='paginfo'>
        <div class="">
            <ul class="items">
                            <li class="item Inicio">
                                    <a href="/" title="Inicio">
                            Inicio > </a>
                                </li>
                            <li class="item compra">
                                   <strong class="compra">Comó Comprar</strong> 
                                </li>
                    </ul>
        </div>
        <div class="tituloinfo">
        <h1>COMO COMPRAR</h1></div>
        <div class='text-comprar'>
        <h3>Es muy fácil y seguro. Sólo tenés que seguir estos pasos:</h3>
        <p><strong>REGISTRACIÓN</strong>: Desde la opción ¨<a href="/register">Registrarse</a>¨ completá los campos obligatorios que se&nbsp;encuentran marcados con asterisco (*) <strong>IMPORTANTE</strong> - verificá que los datos ingresados&nbsp;sean correctos</p>
        <p><strong>SELECCIÓN DE PRODUCTOS</strong>: primero elegís un producto, luego, seleccionás la&nbsp;cantidad de unidades y el talle o número; Clickeá en el botón ¨Comprar¨ para agregar el&nbsp;producto a tu carrito: tenés la posibilidad de continuar comprando o de hacer click en&nbsp;¨Finalizar tu Pedido¨, si ya elegiste todo lo que buscabas.</p>
        <p><strong>PAGO</strong>: Podés optar por pagar con ¨Tarjeta de crédito¨(a través de MercadoPago, eligiendo la tarjeta con la cual deseás abonar).</p>
        <p><strong>ENVIO</strong>: Podés elegir entre 3 métodos de envío, Retiro en sucursal de Solo Deportes (sin costo de envio) , Retiro en sucursal del correo ( sin costo para compras superiores a $9999 ;y costo de $280 para compras de igual o inferior valor) ,o servicio de entrega a domicilio ( sin costo para compras superiores a $9999 ;y costo de $400 para compras de igual o inferior valor).</p>
        <p>Al finalizar tu compra, recibirás por mail el Nº de pedido para realizar el seguimiento vía&nbsp;internet.</p>
    </div>
    <p >Ante cualquier duda, comunicate con nuestro&nbsp;Centro de Atención al Cliente&nbsp;<strong>0800-222-MUNDO (68636)</strong>. Lunes a viernes de 8.30 a 18.30hs - Sábados de 9 a 17:30hs</p>
    </main>
    
    <!-- FOOTER -->
    <%- include('../partials/footer') %> 
    <!-- FOOTER -->

</body>
</html>