<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
<%- include('../partials/head') %> 
<!-- HEAD -->

<body >
   
    <!-- HEADER -->
    <%- include('../partials/header') %> 
    <!-- HEADER -->

    <main class='paginfo'>
        <div class="">
            <ul class="items">
                            <li class="item Inicio">
                                    <a href="/" title="Inicio">
                            Inicio > </a>
                                </li>
                            <li class="item compra">
                                   <strong class="compra">Defensa al Consumidor</strong> 
                                </li>
                    </ul>
        </div>
        <div class="tituloinfo">
        <h1>DEFENSA AL CONSUMIDOR</h1></div>
        
        <span class='defensa'></span>Dirección General de Defensa y Protección al Consumidor: para consultas y/o denuncias ingrese&nbsp;</span><a class='defensa' href="http://www.buenosaires.gob.ar/defensaconsumidor" target="_blank">aquí</a>
        
    
    </main>
  
    <!-- FOOTER -->
    <%- include('../partials/footer') %> 
    <!-- FOOTER -->

</body>
</html>