<!DOCTYPE html>
<html lang="en">
  
  
     <!-- HEAD -->
<%- include('../partials/head') %> 
<!-- HEAD -->

  <body>

    <!-- HEADER -->
    <%- include('../partials/header') %> 
    <!-- HEADER -->
<main class="denegado">
<div><img style="width: 100%;" src="/images/users/acceso_denegado2.jpg" alt=""></div>
<div>
 <article class="art_redirect">
  <h2>IMPOSIBLE ACCEDER !!!</h2>
    <h2>ACTUALMENTE NO TIENE PERMISO DE ACCESO A ESTA PAGINA</h2>
  <a  href="/"><button>HAGA CLIC AQUI ></button></a> </article></div>

</main>

     <!-- FOOTER -->
   <%- include('../partials/footer') %> 
   <!-- FOOTER -->
   
    </body>
  </html>