<!DOCTYPE html>
<html lang="en">
  
  <!-- HEAD -->
<%- include('../partials/head') %> 
<!-- HEAD -->

  <body>
    
    <!-- HEADER -->
    <%- include('../partials/header') %> 
    <!-- HEADER -->

    <main class="paginfo">
      <div class="">
        <ul class="items">
          <li class="item Inicio">
            <a href="/" title="Inicio"> Inicio > </a>
          </li>
          <li class="item compra">
            <strong class="compra">Costos y Forma de Envios</strong>
          </li>
        </ul>
      </div>
      <div class="tituloinfo">
        <h1>Costos y formas de envío</h1>
      </div>
        <p>
          <em
            ><strong
              >El proceso de preparación y despacho (armado de paquetería) de la
              compra tiene un lapso de hasta cinco (5) días hábiles.</strong
            ></em
          >
        </p>
        <p>&nbsp;</p>
        <div class='tipsenvios'>
          <h2>Envíos puerta a puerta por Correo</h2>
          <p>
            <em
              ><strong
                >Debido a la cuarentena, en ciertas localidades, el correo puede
                presentar demoras extras a las habituales.</strong
              ></em
            >
          </p>
          <ul>
            <li>Compras superiores a $9999 - ENVÍO SIN CARGO</li>
            <li>
              Compras iguales o inferiores a $9999 - envío con costo adicional
              de $400. El total será detallado al finalizar la compra.
            </li>
            <li>
              Cambios o Devoluciones: los gastos de envío, ida y vuelta, quedan
              a cargo del cliente
            </li>
          </ul>
          <p>&nbsp;</p>
          <p>
            <em
              ><strong
                >Una vez despachado, el envío puede demorar: (desde el correo
                hasta su entrega)</strong
              ></em >
          </p>
          <p>CABA y AMBA hasta 3 días*</p>
          <p>Ciudades Capitales hasta 5 días*</p>
          <p>Resto del país hasta 10 días*</p>
          <p>*días hábiles desde el momento del despacho.</p>
        </div>
        <p>&nbsp;</p>
        <div class='tipsenvios'>
          <h2>RETIROS EN SUCURSALES DE CORREOS</h2>
          <ul>
            <li>Compras superiores a $9999 - ENVÍO SIN CARGO</li>
            <li>
              Compras iguales o inferiores a $9999 - envío con costo adicional
              de $280. El total será detallado al finalizar la compra.
            </li>
            <li>
              Cambios o Devoluciones: los gastos de envío, ida y vuelta, quedan
              a cargo del cliente
            </li>
            <li>
              Retiro del pedido: una vez recibida la confirmación por email por
              parte del correo en sucursal seleccionada, presentando DNI
              Original.
            </li>
          </ul>
        </div>
        <p>&nbsp;</p>
        <div class='tip-envios'>
          <h2>Retiros en Sucursales</h2>
          <ul>
            <li>Todos los importes - ENVÍO SIN CARGO</li>
            <li>
              Retiro del pedido:&nbsp;<strong style="font-weight: 400"
                >Podrás retirar tu compra una vez que te confirmemos, por mail,
                que el paquete ya se encuentra en la sucursal seleccionada,
                presentando tu DNI original.&nbsp;</strong
              >
            </li>
          </ul>
        </div>
    </main>
    
    <!-- FOOTER -->
    <%- include('../partials/footer') %> 
    <!-- FOOTER -->

  </body>
</html>
