<!DOCTYPE html>
<html lang="en">
  
     <!-- HEAD -->
<%- include('../partials/head') %> 
<!-- HEAD -->

  <body>

    <!-- HEADER -->
    <%- include('../partials/header') %> 
    <!-- HEADER -->

    <main class='paginfo'>
        <div class="">
            <ul class="items">
                            <li class="item Inicio">
                                    <a href="/" title="Inicio">
                            Inicio > </a>
                                </li>
                            <li class="item compra">
                                   <strong class="compra">Garantias</strong> 
                                </li>
                    </ul>
        </div>
        <div class="tituloinfo">
          <h1>Garantias</h1>
        </div>
        <div class="garantias1">
        <p>Todos los productos que comercializamos poseen garantía por falla, provista por el fabricante o proveedor de cada marca.</p>
        <p>Ante eventuales fallas, Solo Deportes actúa como intermediario entre el cliente y el fabricante / proveedor, enviando el artículo al servicio de garantía correspondiente.</p>
        <p>Es imprescindible contar con la factura o ticket original de compra, y enviar el producto completo (ej.: los calzados con sus cordones, plantillas, etc.) y en condiciones de higiene.</p>
      </div>
      </main>
      <!-- FOOTER -->
    <%- include('../partials/footer') %> 
    <!-- FOOTER -->
    
    </body>
  </html>
  