<!DOCTYPE html>
<html lang="en">
  
     <!-- HEAD -->
<%- include('../partials/head') %> 
<!-- HEAD -->

  <body>

    <!-- HEADER -->
    <%- include('../partials/header') %> 
    <!-- HEADER -->
<main>
    <div class="">
        <ul class="items">
                        <li class="item Inicio">
                                <a href="/" title="Inicio">
                        Inicio > </a>
                            </li>
                        <li class="item compra">
                               <strong class="compra">Nuestras Sucursales</strong> 
                            </li>
                </ul>
    </div>
    <div class="logotexto">
        <img src="/images/logotexto.png" alt="">
    </div>
<div class="maps">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1bkWRtqbrqcFOYdkKPOY58yS0Y78aPsZo" width="70%" height="500px"></iframe>
</div>
<section class="zapatillas direcciones">
    <article class="zapatilla-img">
        
            <div>
                <img class="zapatilla-img1" src="/images/logo.png "
                    alt="logo.png">
            </div>
            <div class="ofertasZapatillaPrecio">
                <h4>EL MUNDO DEL CALZADO</h4>
               <strong>Int. Juan Irigoin 1619, B1663LFE San Miguel, Provincia de Buenos Aires </strong>
            </div>
       
    </article>
    <article class="zapatilla-img">
        
            <div>
                <img class="zapatilla-img1" src="/images/logo.png "
                    alt="logo.png">
            </div>
            <div class="ofertasZapatillaPrecio">
                <h4>EL MUNDO DEL CALZADO</h4>               
                <strong>Dr. Juan Felipe Aranguren 2942, C1406 CABA</strong>
            </div>
    </article>
    <article class="zapatilla-img">
            <div>
                <img class="zapatilla-img1" src="/images/logo.png "
                    alt="zapatilla-img1">
            </div>
            <div class="ofertasZapatillaPrecio">
                <h4>EL MUNDO DEL CALZADO</h4>
                <strong>Río Cuarto 56, B1661BPC Bella Vista, Provincia de Buenos Aires</strong>
            </div>
    </article>
    <article class="zapatilla-img">
            <div>
                <img class="zapatilla-img1" src="/images/logo.png "
                    alt="zapatilla-img1">
            </div>
            <div class="ofertasZapatillaPrecio">
                <h4>EL MUNDO DEL CALZADO</h4>
                <strong>Cornelio Saavedra 4560, B1663PBG San Miguel, Provincia de Buenos Aires</strong>
            </div>
    </article>
</section>
</main>
     <!-- FOOTER -->
     <%- include('../partials/footer') %> 
     <!-- FOOTER -->

    
    </body>
  </html>