<!DOCTYPE html>
<html lang="en">

   <!-- HEAD -->
   <%- include('../partials/head') %> 
   <!-- HEAD -->
 <body style="text-align: center;">
    <a href="/"> <img style="height: 880px; width: 100%;"  src="/images/users/webEnContruccion.jpg" alt=""></a>
 </body>

  
</html> 