<section class="descripciones">
    <h3>Descripcion</h3>
    <div class="descripciones-texto">
        <h4></h4>
        <h5></h5>
        <p></p>
    </div>
    <h3>Detalles del producto</h3>
    <nav class="descripciones-detalles">
        
            <li></li>
         
        
    </nav>
</section>