<section class="zapatillas1">
    <article class="zapatillas1-articulos">
            
            <div class="zapatilla-principal">
                <img src="/images/wireframe/<%=idProduct.img %>" alt="">
            </div>

            <div class="zapatillas1-colores">
                
                    <div class="zapatillas1-colors_eleccion">
                        <img src="/images/wireframe/" alt=" ">
                    </div>
                 
                  
            </div>
          
    </article>
</section>