<div class='tablapago'>
    <table class='table2'>
        <tr>
            <th colspan="2"><strong>RESUMEN DE COMPRA</strong></th>
        </tr>
        <tr class='subtotal'>
            <td class='descrip'>SUBTOTAL</td>
            <td class='valor'>$45.997</td>
        </tr>
        <tr class='total'>
            <td class='descrip'>TOTAL</td>
            <td class='valor'>$45.997</td>
        </tr>
        <tr>
            <th colspan="2"><button><strong>INICIAR PAGO ></strong></button></th>
        </tr>
    </table>
</div>